.user-info {
   display: flex;
   flex-direction: row;
   justify-content: space-around;
   align-items: center;

   width: 100%;

   color: whitesmoke;
   background: linear-gradient(
      90deg,
      rgba(2, 0, 36, 1) 0%,
      rgba(9, 9, 121, 1) 35%,
      rgba(0, 212, 255, 1) 100%
   );

   font-size: large;
   font-weight: 600;
}

.till-access {
   background: rgb(0, 0, 0);
   background: linear-gradient(
      90deg,
      rgba(0, 0, 0, 1) 0%,
      rgba(121, 9, 9, 1) 35%,
      rgb(167, 0, 0) 100%
   );
}

.user-info > div {
   display: flex;
   flex-direction: row;
   justify-content: space-evenly;
   align-items: center;
}
